/* body{
    background-color: gold !important;
} */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



body{
    background-color: white !important;
    font-family: "Rubik", serif;
}

.green-big-title{
    color: greenyellow;
    font-size: xx-large;
}

h2{
    color: rgba(21, 28, 105, 0.395);
    
}

.magenta-background{
    background-color: magenta;
}

.italic-font{
    font-style: italic;
}


header h1{
    background-color: chocolate;
}


header, footer{
    border-style: solid;
}

footer{
    /* padding: 20px; */
    /* padding-left: 18px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 200px; */
    /* padding: 200px 100px 50px 300px; top right bottom left*/ 
    /* padding: 100px 200px; (top/bottom) (left/right) */
    margin: 200px;
}


.resized-p{
    background-color: deeppink;
    color: gold;
    /* width: 300px;
    height: 100px;
    overflow: auto; */
    max-width: 800px;
    min-width: 700px;
}


.mother{
    background-color: indigo;
    padding: 8px;
    /* width: 50%; */
    width: 800px;
    /* border-radius: 10px; */
    /* border-top-left-radius: 30px; */
    border-radius: 0px 20px 100px 50px;
    border: solid green 10px;
}

.son{
    background-color: chartreuse;
    width: 50vw;
}

.strange-borders{
    border-style: solid;
    border-color: coral;
    border-width: 1px;
    padding: 20px;
    border-radius: 20px;
}

header{
    background-image: url("./assets/header-img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 200px;
    background-position: center center;
}




/* #lorem-p{ vi taglio le mani!
    border-style: solid;
} */
